* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.bgGray {
    background-color:#dedbdb;
}

/* header */

header {
    height: 70px;
}

#logoMobile {
    height: 60px;
}

nav input {
    border: none;
}

nav input:focus-visible {
    outline: none;
}

.fa-bell {
    color: #ff8f00 ;
}


.mainWrapper {
    height: calc(100vh - 70px);
}

.sideMenu {
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    width: 70px;
    height: calc(100vh - 70px);
}

.mainContainer {
    background-color: antiquewhite;
    flex-grow: 1;
    height: calc(100vh - 70px);
    overflow-y: auto;
}





/* debug */

.debugBorder {
    border: 1px solid red;
}

.debugNone {
    display: none;
}






@media screen and (min-width: 992px) {
    .sideMenu {
        width: 150px;
    }
}